
/********************
GENERAL
********************/
 * {
   box-sizing: border-box;
 }

 body {
   max-width: 1600px;
 }



/********************
HEADER
********************/

 .header {
   width: 100%;
   height: 800px;
   background-image: url(../images/header_bg.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   text-align: center;

 }


 .menu__list {
   padding: 0;
   margin: 0;
   list-style: none;

 }
